# Byte-compiled / optimized / DLL files
__pycache__/
data/raw/kaggle/datasets/**
data/interim/**
data/processed/**
data/raw
outputs/models/**
outputs/submissions/**
*.zip
*.tar.gz
.vscode

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
notebooks/titanics/meta/titanic_train.column_profile.csv
notebooks/titanics/meta/titanic_train.data_dictionary.md
notebooks/titanics/meta/titanic_train.schema.yml
